html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;

  background-image: url('../images/index_landscape.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#auth-box {
  box-sizing: border-box;
  padding: 1.5rem;
  width: 300px;
  height: 100%;
  background-color: #F5F5F5;
}

#auth-box .divider {
  display: flex;
  width: 100%;
}

#auth-box .divider button {
  width: 50%;
}

#select-login-form {
  margin-right: 1rem;
}

#auth-box form {
  margin-top: 1rem;
}

#auth-box form:not(.selected) {
  display: none;
}

#auth-box form input {
  width: 100%;
}

#auth-box form input:not(:last-child)
{
  margin-bottom: .5rem;
}

#auth-box form p.validation-error {
  color: red;
}