.container .box .box-head,
.container .box .box-body,
.container .box .box-footer {
  width: 296px;
}

footer .users-online {
  display: none;
}

@media screen and (max-width: 680px) {
  #logo {
    width: 100%;
  }
}